@import '/src/styles/forecast.css';

.forecast-card, .forecast-card--today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: var(--size-10);
  flex-shrink: 0;
  height: var(--size-10);
  padding: var(--size-2) var(--size-3);
  color: var(--primary-100);
}

.forecast-card--today {
  background-color: var(--primary-700);
  border-radius: var(--border-radius-6);
}

.forecast-card__temperature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-2);
}

.forecast-card__icon {
  width: auto;
  height: var(--size-8);
}

.forecast-card__date {
  font-weight: 500;
  font-size: var(--font-size-4);
}

.forecast-card__temperature__max {
  font-weight: 500;
}

.forecast-card__temperature__min {
  color: var(--primary-200);
}

.forecast-card__temperature__divisor {
  height: 100%;
  width: 1px;
  background-color: var(--primary-100);
}

.forecast-carousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: var(--size-15);
  padding: var(--size-3) var(--size-5) var(--size-2) var(--size-5);
  overflow-x: scroll;
  gap: var(--size-4);
  z-index: 50;
  grid-area: forecast;
}

.forecast-carousel::-webkit-scrollbar {
  height: var(--size-1);
}

.forecast-carousel::-webkit-scrollbar-thumb {
  background-color: var(--primary-800);
  border-radius: var(--border-radius-6);
}

@media screen and (min-width: 500px) {
  .forecast-carousel::-webkit-scrollbar {
    height: var(--size-3);
  }

  .forecast-carousel::-webkit-scrollbar-thumb {
    background-color: var(--primary-800);
    border-radius: var(--border-radius-6);
    background-clip: padding-box;
    border: 3px solid #0000;
  }

  .forecast-carousel::-webkit-scrollbar-track {
    background: var(--primary-700);
    border-radius: var(--border-radius-6);
  }
}
