@import '/src/styles/variables.css';

.locations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations__location,
.locations__location--loading {
  display: flex;
  border-bottom: 1px solid var(--primary-400);
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: var(--size-14);
  align-items: baseline;
  padding: var(--size-2);
}

.locations__location--loading {
  align-items: center;
}

.locations__location:first-child {
  border-top: 1px solid var(--primary-400);
}

.locations__location__main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-1);
}

.locations__location__main--toggle {
  box-shadow: 0 6px 3px -4px #859ba8;
}

.locations__location__button,
.locations__location__button--toggle {
  width: max-content;
  background-color: #0000;
  color: var(--primary-100);
  padding: var(--size-2);
  font-size: var(--font-size-2);
  border-radius: var(--border-radius-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.locations__location__button:hover,
.locations__location__button--toggle:hover {
  cursor: pointer;
}

.locations__location__button svg,
.locations__location__button--toggle svg {
  fill: var(--primary-700);
  width: var(--size-4);
  height: auto;
  transition: 200ms;
}

.locations__location__button--toggle svg {
  transform: rotate(90deg);
}

.locations__location__name {
  width: max-content;
  max-width: 50%;
  font-family: var(--font-headline);
}

.locations__location__name span:first-child {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: var(--font-size-5);
}

.locations__location__name span:last-child {
  font-size: var(--font-size-2);
  font-weight: 400;
}
