@import '/src/styles/variables.css';

.weather--user,
.weather--location,
.weather--user--loading,
.weather--location--loading {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 128px);
  grid-template-rows: minmax(var(--size-9), var(--size-10)) repeat(3, 50px) auto;
  grid-template-areas:
    'name icon'
    'desc desc'
    'temp precipitation'
    'wind humid'
    'forecast forecast';
  row-gap: var(--size-2);
  column-gap: var(--size-7);
  min-height: 486px;
  align-items: start;
  height: 100%;
  width: 100%;
  position: relative;
  padding: var(--size-2);
  overflow: hidden;
  color: var(--primary-100);
  text-shadow: 0 0 3px var(--primary-900);
}

.weather--user--loading,
.weather--location--loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-500);
}

.weather--user {
  position: absolute;
  padding-top: var(--size-9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.weather__data {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: start;
  text-align: center;
  z-index: 100;
  font-size: var(--font-size-3);
}

.weather__data--name {
  font-size: var(--font-size-8);
  font-family: var(--font-headline);
  grid-area: name;
  width: fit-content;
  max-width: 100%;
  justify-self: center;
}

.weather__data--description {
  grid-area: desc;
  z-index: 200;
  justify-self: center;
  width: fit-content;
  font-size: var(--font-size-5);
}

.weather__icon {
  grid-area: icon;
  z-index: 200;
  height: 100%;
  width: auto;
  justify-self: end;
}

.weather__data--temp {
  grid-area: temp;
}

.weather__data--humidity {
  grid-area: humid;
  justify-content: space-between;
  flex-grow: 0.5;
}

.weather__data--precipitation {
  grid-area: precipitation;
  justify-content: space-between;
}

.weather__data--wind {
  grid-area: wind;
}

.weather__data__icon {
  height: 100%;
  width: auto;
}

.weather__data__icon--temperature {
  fill: none;
  stroke: var(--primary-300);
  stroke-opacity: 1;
}

.weather__data__icon--humidity {
  fill: var(--primary-300);
  fill-opacity: 1;
}

.weather__data__icon--precipitation {
  fill: var(--primary-300);
  fill-opacity: 1;
}

.weather__data__icon--wind {
  stroke: var(--primary-300);
  stroke-opacity: 1;
  fill: none;
  flex-shrink: 0;
}

.weather__background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: var(--primary-500);
}

.weather__background-image img {
  object-position: bottom;
  object-fit: cover;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  filter: contrast(0.4) saturate(0.5);
}
