@import url('../node_modules/leaflet/dist/leaflet.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  list-style-type: none;
  font-family: var(--font-text);
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/WorkSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Cabin';
  src: url('./assets/Cabin.ttf') format('truetype');
}

:root {
  --primary-100: #f6fbfe;
  --primary-200: #d4dee3;
  --primary-300: #b2c0c8;
  --primary-400: #90a3ad;
  --primary-500: #6e8591;
  --primary-600: #536873;
  --primary-700: #384b55;
  --primary-800: #1d2e37;
  --primary-900: #021018;
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 24px;
  --size-6: 32px;
  --size-7: 48px;
  --size-8: 64px;
  --size-9: 96px;
  --size-10: 128px;
  --size-11: 192px;
  --size-12: 256px;
  --size-13: 384px;
  --size-14: 512px;
  --size-15: 640px;
  --size-16: 768px;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 30px;
  --font-size-8: 36px;
  --font-size-9: 48px;
  --font-size-10: 60px;
  --font-size-11: 72px;
  --font-text: 'Work Sans';
  --font-headline: 'Cabin';
  --border-radius-1: 1px;
  --border-radius-2: 2px;
  --border-radius-3: 4px;
  --border-radius-4: 8px;
  --border-radius-5: 12px;
  --border-radius-6: 18px;
}

#root {
  background-color: var(--primary-300);
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.main-content {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--size-4);
  align-items: center;
  z-index: 10;
  position: relative;
  padding-top: var(--size-7);
}

.locations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations__location,
.locations__location--loading {
  display: flex;
  border-bottom: 1px solid var(--primary-400);
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: var(--size-14);
  align-items: baseline;
  padding: var(--size-2);
}

.locations__location--loading {
  align-items: center;
}

.locations__location:first-child {
  border-top: 1px solid var(--primary-400);
}

.locations__location__main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-1);
}

.locations__location__main--toggle {
  box-shadow: 0 6px 3px -4px #859ba8;
}

.locations__location__button {
  width: max-content;
  background-color: var(--primary-600);
  color: var(--primary-100);
  padding: var(--size-2);
  font-size: var(--font-size-2);
  border-radius: var(--border-radius-3);
}

.locations__location__button:hover {
  background-color: var(--primary-700);
  cursor: pointer;
}

.locations__location__name {
  width: max-content;
  max-width: 50%;
  font-family: var(--font-headline);
}

.locations__location__name span:first-child {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: var(--font-size-5);
}

.locations__location__name span:last-child {
  font-size: var(--font-size-2);
  font-weight: 400;
}

.weather--user,
.weather--location {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 128px);
  grid-template-rows: var(--size-9) repeat(6, 50px);
  grid-template-areas:
    'name icon'
    'desc desc'
    'temp humid'
    'wind visib'
    'history history';
  row-gap: var(--size-2);
  column-gap: var(--size-7);
  align-items: start;
  height: 100%;
  width: 100%;
  position: relative;
  padding: var(--size-2);
  overflow: hidden;
  color: var(--primary-100);
  text-shadow: 0 0 3px var(--primary-900);
}

.weather--user {
  position: absolute;
  padding-top: var(--size-9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.weather--user__name,
.weather__data {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: start;
  text-align: center;
  z-index: 100;
}

.weather__data {
  font-size: var(--font-size-3);
}

.weather__data .weather__data__icon {
  height: 100%;
  width: auto;
}

.weather--user__name {
  font-size: var(--font-size-8);
  font-family: var(--font-headline);
  grid-area: name;
  width: fit-content;
  max-width: 100%;
  justify-self: center;
}

.weather__description {
  grid-area: desc;
  z-index: 200;
  justify-self: center;
  width: fit-content;
  font-size: var(--font-size-5);
  margin-top: calc(var(--size-4) * -1);
}

.weather__icon {
  grid-area: icon;
  z-index: 200;
  height: 100%;
  width: auto;
  justify-self: end;
}

.weather__temp {
  grid-area: temp;
}

.weather__humidity {
  grid-area: humid;
  justify-content: space-between;
  flex-grow: 0.5;
}

.weather__visibility {
  grid-area: visib;
  justify-content: space-between;
}
.weather__wind {
  grid-area: wind;
}

.weather__background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: var(--primary-200);
}

.weather__background-image img {
  object-position: bottom;
  object-fit: cover;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  filter: contrast(0.4) saturate(0.6);
}

.weather__history-link {
  z-index: 100;
  color: var(--primary-900);
  background-color: var(--primary-500);
  padding: var(--size-3);
  border-radius: var(--border-radius-3);
  box-shadow: 0 0 3px var(--primary-900);
  text-shadow: none;
  font-size: var(--font-size-4);
  font-weight: 600;
  grid-area: history;
  justify-self: center;
  margin-top: var(--size-3);
}

.history {
  width: 100%;
  padding-top: var(--size-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--size-14);
  margin-top: var(--size-4);
}

.history__day {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: var(--size-4);
  margin: var(--size-2) 0;
  gap: var(--size-1);
  border-bottom: 1px solid var(--primary-700);
}

.history__day:first-of-type {
  border-top: 1px solid var(--primary-700);
}

.history__title {
  font-family: var(--font-headline);
  font-size: var(--font-size-7);
}

.history__day__date {
  font-size: var(--font-size-5);
}

.header {
  width: 100%;
  height: var(--size-7);
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: var(--primary-700) 1px solid;
  z-index: 100;
  background-color: var(--primary-500);
}

.header__bars {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: var(--size-5);
  height: var(--size-5);
  background-color: transparent;
  transform: translateY(-50%);
  margin: 0 var(--size-1);
}

.header__bars svg {
  width: 100%;
  height: auto;
  fill: var(--primary-900);
}

.header__nav__link,
.header__nav__link--active {
  font-size: var(--font-size-4);
  font-family: var(--font-headline);
  color: var(--primary-900);
}

.header__nav__link--active {
  text-decoration: underline;
}

.header__nav--wide {
  position: absolute;
  gap: var(--size-4);
  padding: var(--size-1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.header__nav--narrow,
.header__nav--narrow--active {
  position: absolute;
  top: 100%;
  opacity: 0%;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
  background-color: var(--primary-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-3);
  z-index: 500;
}

.header__nav--narrow--active {
  opacity: 100%;
  transform: translateX(0%);
}

.header__searchbar {
  display: flex;
  justify-content: center;
  gap: var(--size-2);
  max-width: var(--size-12);
  width: 60%;
}

.header__searchbar__input {
  width: 70%;
  background-color: var(--primary-600);
  color: var(--primary-100);
  padding: var(--size-2);
  border-radius: var(--border-radius-3);
}

.header__searchbar__input::placeholder {
  color: var(--primary-400);
}

.header__searchbar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-700);
  color: var(--primary-100);
  padding: var(--size-2);
  font-size: var(--font-size-2);
  border-radius: var(--border-radius-3);
  width: 30%;
  overflow-x: hidden;
}

.header__searchbar__button:hover {
  cursor: pointer;
}

.map-wrapper {
  width: 100%;
  height: 100%;
}

.map-wrapper__map-container {
  height: 100%;
  width: 100%;
  z-index: 100;
  min-width: 300px;
  position: relative;
}

.map-container__legend {
  width: var(--size-12);
  height: var(--size-4);
  position: absolute;
  z-index: 500;
  bottom: var(--size-6);
  left: var(--size-5);
  font: var(--font-headline);
  font-size: var(--font-size-1);
  font-weight: 600;
}

.map-container__legend__bar--temp,
.map-container__legend__bar--clouds,
.map-container__legend__bar--rain,
.map-container__legend__bar--pressure,
.map-container__legend__bar--wind {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-4);
  border: 1px solid var(--primary-100);
  box-shadow: 0 0 4px var(--primary-700);
}

.map-container__legend__bar--temp {
  background: linear-gradient(
    to right,
    rgba(130, 22, 146, 1),
    rgba(130, 87, 219, 1),
    rgba(32, 140, 236, 1),
    rgba(32, 196, 232, 1),
    rgba(35, 221, 221, 1),
    rgba(194, 255, 40, 1),
    rgba(255, 240, 40, 1),
    rgba(255, 194, 40, 1),
    rgba(252, 128, 20, 1)
  );
}
.map-container__legend__bar--clouds {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(253, 253, 255, 0.1),
    rgba(252, 251, 255, 0.2),
    rgba(250, 250, 255, 0.3),
    rgba(249, 248, 255, 0.4),
    rgba(247, 247, 255, 0.5),
    rgba(246, 245, 255, 0.75),
    rgba(244, 244, 255, 1),
    rgba(243, 242, 255, 1),
    rgba(242, 241, 255, 1),
    rgba(240, 240, 255, 1)
  );
}
.map-container__legend__bar--rain {
  background: linear-gradient(
    to right,
    rgba(225, 200, 100, 0),
    rgba(200, 150, 150, 0),
    rgba(150, 150, 170, 0),
    rgba(120, 120, 190, 0),
    rgba(110, 110, 205, 0.3),
    rgba(80, 80, 225, 0.7),
    rgba(20, 20, 255, 0.9)
  );
}
.map-container__legend__bar--pressure {
  background: linear-gradient(
    to right,
    rgba(0, 115, 255, 1),
    rgba(0, 170, 255, 1),
    rgba(75, 208, 214, 1),
    rgba(141, 231, 199, 1),
    rgba(176, 247, 32, 1),
    rgba(240, 184, 0, 1),
    rgba(251, 85, 21, 1),
    rgba(243, 54, 59, 1),
    rgba(198, 0, 0, 1)
  );
}
.map-container__legend__bar--wind {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(238, 206, 206, 0.4),
    rgba(179, 100, 188, 0.7),
    rgba(63, 33, 59, 0.8),
    rgba(116, 76, 172, 0.9),
    rgba(70, 0, 175, 1),
    rgba(13, 17, 38, 1)
  );
}
.map-container__legend__metrics {
  position: absolute;
  transform: translateX(-50%);
  width: calc(var(--size-12) + var(--size-4));
  height: 100%;
  top: 100%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  color: var(--primary-900);
}

.map-container__legend__metrics__metric {
  text-align: center;
  width: var(--size-4);
}

.map-container__legend__metric-unit {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.map-container__side-panel--active,
.map-container__side-panel--unactive {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  width: 50%;
  max-width: var(--size-12);
  height: 100%;
  z-index: 500;
  background-color: var(--primary-500);
  transition: 300ms ease-in-out;
  flex-direction: column;
  gap: var(--size-4);
  padding: var(--size-3);
  align-items: center;
  color: var(--primary-100);
  border-left: 1px solid var(--primary-600);
  cursor: default;
}

.side-panel__title {
  width: 100%;
  text-align: center;
  font-family: var(--font-headline);
  font-size: var(--font-size-5);
}

.custom-label {
  display: flex;
  justify-content: space-between;
  width: var(--size-11);
  font-size: var(--font-size-2);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: var(--size-4);
}

.custom-label__name {
  width: var(--size-10);
}

.radio-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio-button {
  width: var(--size-4);
  height: var(--size-4);
  background-color: var(--primary-100);
  border-radius: 100%;
  transition: 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
}

.radio-button:hover ~ .custom-radio-button {
  background-color: var(--primary-400);
}

.radio-button:checked ~ .custom-radio-button {
  background-color: var(--primary-700);
}

.custom-radio-button::after {
  opacity: 0;
  transition: 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.radio-button:checked ~ .custom-radio-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: var(--size-2);
  height: var(--size-2);
  border-radius: 100%;
  background-color: var(--primary-200);
  opacity: 100%;
}

.map-container__side-panel--unactive {
  transform: translateX(100%);
}

.map-container__side-panel--active {
  transform: translateX(0);
}

.side-panel__toggle {
  position: absolute;
  width: var(--size-4);
  height: var(--size-8);
  background-color: inherit;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-top-left-radius: var(--size-1);
  border-bottom-left-radius: var(--size-1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle,
.toggle--active {
  width: var(--size-2);
  height: auto;
  transition: 300ms;
  transform: rotate(0);
}

.toggle--active {
  transform: rotate(180deg);
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--primary-700);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 0ms;
}

.forecast-card {
  border: 1px solid var(--primary-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: var(--size-10);
  height: var(--size-10);
  padding: var(--size-2) var(--size-3);
  border-radius: var(--border-radius-4);
  color: var(--primary-900);
}

.forecast-card__temperature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-3);
}

.forecast-card__icon {
  width: auto;
  height: var(--size-8);
}

.forecast-card__date {
  font-weight: 500;
  font-size: var(--font-size-4);
}

.forecast-card__temperature__max {
  font-weight: 500;
}

.forecast-card__temperature__min {
  color: var(--primary-800);
}

.forecast-card__temperature__divisor {
  height: 100%;
  width: 1px;
  background-color: var(--primary-900);
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@media only screen and (min-width: 767px) {
  .header__nav--wide {
    display: flex;
  }

  .header__bars,
  .header__nav--narrow,
  .header__nav--narrow--active {
    display: none;
  }
}
